<% @meetings.each do |meeting| %>
    <ul>
      <li><%= meeting.address %></li>
      <li><%= meeting.meeting_date %></li>
      <h2><%= link_to "Edit group", edit_meeting_path(meeting) %></h2>
    </ul>
<% end %>
