body {
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
}


.banners {
  display: flex;
  flex-direction: column;
  margin-left: 96px;
  margin-right: 96px;
}

.country-banner {
  height: 300px;
  width: 100%;
  background-color: #E2493C;
  position: relative;
}

.banners h1 {
  position: absolute;
  bottom: 32px;
  left: 32px;

}

.europe-image {
  height:300px;
  width: 100%;
  object-fit: cover;
}

.europe-dropdown {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.grid-photo {
  height: 100px;
  width: 300px;
  object-fit: cover;
  opacity: 70%;
}

.europe-grid {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 2;
}

.image-container {
  position: relative;
}

.banner-image {
  height: 45vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1482867996988-29ec3a0f1aac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  border-radius: 20px;
}

.banner-image1 {
  height: 45vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1507534081376-b896cb889714?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  border-radius: 5px;
}

.banner-image2 {
  height: 45vh;
  background-size: cover;
  background-position: center top;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1526481280693-3bfa7568e0f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
  border-radius: 5px;
}

.title-overlay {
  position: absolute;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-decoration: none;
  color: white !important;
}
.btn-link {
  &:hover {
    color: #484848;
  }
  color: #484848;
}

.relative {
  position: relative;

}

.card-container {
  margin-right: 96px;
  margin-left: 96px;
}

.na {
  justify-content: flex-end;
  color: #fff;
}

.na:hover {
  color: #fff;
}

.card-wrapper {
  overflow: hidden;
  &:hover {
    .card-header {
      transform: scale(1.05);
    }
  }
}

.card-header {
  transition: transform 0.8s;
  // &:hover {
    // transform: scale(1.05);
  // }
}

.europe-grid:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}
