.country-index-container {
  margin: 24px 96px;
  display: flex;
  flex-direction: column;
}

.title-container {
  margin-bottom: 20px;
}
.continent-card {
  margin-top: 20px;
  background-color: #eeeeee;
  height: 60vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
}

.continent-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    color: white;
    font-weight: 500;
  }
  a:hover {
  text-decoration: none;
  }
}



.flags-container {
  display: flex;
  flex: flex-wrap;
  justify-content: space-around;
  padding: 5px;
  width: 100%;
  .flag-img {
    width: 50px;
    border-radius: 5px;
    cursor:pointer;
  }
  .flag-img:hover {
    transform: scale(1.1)
  }
  .flag-icon-container {
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
    font-weight: 100;
    justify-content: center;
    align-items: center;
  }
}

.country-display-card {
  display: flex;
  padding: 12px;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  align-items: space-around;
  .icon {
    color: white;
    margin-right: 24px;
    font-weight: 600;
  }
  h4 {
    text-align: center;
  }
}

.hidden {
  display: none;
}

.active {

}

.flag-title {
  margin-top: 12px;
  text-align: center;
}


