<div class="d-flex justify-content-center m-3">
  <div class="col-6 justify-content-center">
    <div class="d-flex m-2">
      <i class="fas fa-edit m-2" style="font-size: 2em;"></i>
      <h1>Edit a group</h1>
    </div>
    <%= render partial: "shared/group", resort: @resort, group: @group%>
  </div>
</div>
