
<!-- <div class="container"> -->

  <div class="group-show-page">
    <%= render partial: "shared/group_card_show", group: @group %>

  <div class="chat-box">
    <%= render partial: "shared/messages/chat_box", group: @group, message: @message%>
  </div>

  <div class="meetings-address">
    <%= render partial: "shared/meetings_show"%>
  </div>

  <div class="map-show-group">
    <%= render partial: "shared/map_show"%>
  </div>
<!-- </div> -->
