<h1>Messages</h1>
<h1><%= @group.name %></h1>
<%= render 'shared/messages/form', group: @group, message: @message %>
<h2>Messages</h2>
<div class="bottom" id="comment_section">
  <% @group.messages.reverse.each do |message| %>
  <p><%= message.content %></p>
  <p><%= message.user.email %></p>
  <% end %>
</div>
<script>
  let channel = pusher.subscribe('comment-channel');
  channel.bind('new-comment', (data) => {
    let comment = data.message.content;
    let email = data.message.email
    let div = document.getElementById('comment_section');
    div.insertAdjacentHTML('afterbegin',`<p> ${email}</p>`);
    div.insertAdjacentHTML('afterbegin',`<p> ${comment}</p>`);
    document.getElementById('message_content').value = "";
  });
</script>
