<%= simple_form_for [@group, @meeting] do |f| %>
  <%= f.input :address, as: :string%>
  <%= f.input :meeting_date, as: :date %>
  <div class="d-flex justify-content-center">
    <%= f.submit "Submit", class: "button-book"  %>
  </div>
<% end %>
