<% if membership_requests.any? %>
  <% membership_requests.each do |membership_request| %>
    <%= render partial: "shared/membership_request_card", locals: {membership_request: membership_request} %>
  <% end %>
<% else %>
  <h2>No new membership requests</h2>
<% end %>
