.active {
  background-color: white !important;
  border-bottom: none !important;
}

.notification-first-tab {
  margin-left: 200px;
}

.swal-title {
  font-size: 36px;
  font-weight: lighter;
  margin: 28px;
}
