<h1 class="home-title">
  Find a squad now!
</h1>

<div class="grid-container">
  <div class="grid-item action-pannel">
    <div>
      <p>Are you looking for mates to go skiing this year?</p>
      <p>Make it happen → </p>
    </div>
  </div>
  <div class="grid-item main-image">

  </div>
  <div class="grid-item resort-card">

  </div>
  <div class="grid-item group-card">

  </div>
</div>
