<div id="new_message">
<%= simple_form_for [@group, @message], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Reach out to your pals here...", input_html: { rows: 1 } %>
<% end %>
</div>

<!-- <script>
$('#message_content').keypress(function(e) {
      if(e.which == 13){
           $(this).closest('form').submit();
       }
    });
</script>
 -->
