.group-filters {
  border-radius: 4px;
  background-color: #C0DAFF;
  color: white;
  padding: 32px 16px;
  text-align: center;
  position: sticky;
  top: 32px;
}

.resort-url-link {
  align-self: center;
  margin-left: 64px;
}

.mountain-banner-image {
  background-image: url('https://res.cloudinary.com/dr48k5zwm/image/upload/v1575028109/photo-1486072889922-9aea1fc0a34d_c9kjv4.jpg');
  background-position: right 0 bottom -75px;
  background-size: 100vw 100vh;
  height: 75vh;
  color: white;
}

.inner-mountain-container {
  height: 100%
}

.resort-title-container {
  padding-top: 32px;
  width: 60%;
}

.check-in-text {
}

.check-in-image {
  height: 50px;
  width: 50px;
}

.resort-icon {
  margin-bottom: 8px;
  height: 40px;
  width: 40px;
}

.resort-icon-container {
  margin-top: 56px;
}

.resort-description {
  font-weight: lighter;
}

.resort-data-text {
  font-weight: lighter;
  font-size: 12px;
}
