$primary-color: #0599D4;
$background-color: #ffffff;
$secondary-color: #52BFA1;
$off-black-text: #444444;

.resort-card-show {
  color: $off-black-text;
  border-radius: 3px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  margin: 32px 0px;
  width: 100%;
  img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
  }
}

// .scroll-style {
//     max-height: 600px;
//     overflow-y: auto;
// }

.resort-info-show {
  display: flex;
  flex-direction: column;
  h6 {
    font-size: 18px;
  }
}

.resort-title-show {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 5px;
}

.resort-users {
  display: flex;
  p {
    padding-right: 5px;
  }
}

// .resort-icons {
//   display: flex;
//   width: 30%;
//   flex-direction: column;
// }

.icon-info {
  display: flex;
  i {
    font-size: 20px;
  }
  justify-content: space-between;
  p {
    color: $primary-color;
    margin-top: 8px;
    font-size: 12px;
  }
}

// .resort-cost {
//   display: flex;
//   height: 100%;
//   font-size: 2em;
// }

// .resort-bottom {
//   display:flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   margin-bottom: 5px;
// }

// .resort-btn {
//   background-color: #73A8B4;
//   text-align: center;
//   border-radius: 5px;
//   a {
//     color: white;
//     margin: 5px;
//   }
//   a:hover {
//     text-decoration: none;
//     background-color: #73A8B4;
//   }
// }


.resort-btn {
  background-color: darken(#C0DAFF, 30%);
  font-weight: light;
  padding: 4px 8px;
  color: $background-color;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.3s ease;
  align-self: center;
  &:hover {
    background-color: $secondary-color;
    color: $background-color;
    text-decoration: none;
  }
  &:focus {
    outline:0;
  }
}

.resort-card-active-groups {
  color: $primary-color;
  font-size: 12px;
}

.resort-card-resort-description {
  font-size: 16px;
  font-weight: lighter;
}
