<div>
  <div class="resort-name-container">
    <p class="resort-name"><%= resort.name %></p>
  </div>
  <div class="map-popup-image"></div>
  <div class="resort-button-container">
    <%= link_to resort.name, resort_path(resort), class: "resort-button" %>
  </div>
</div>


<style>
.resort-name-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.resort-name {
  font-size: 16px;
  color: #002A47;
}

.map-popup-image {
  background-image: url('<%= cl_image_path resort.photo.key %>');
  background-size: cover;
  border-radius: 3px;
  background-position: center;
  height: 100px;
  width: 200px;
}

.resort-button-container {
  display: flex;
  justify-content: center;
}

.resort-button {
  margin-top: 8px;
  background-color: #002A47;
  font-weight: light;
  padding: 4px 8px;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.3s ease;
}

.resort-button:hover {
  background-color: #52BFA1;
  color: #ffffff;
  text-decoration: none;
}

.resort-button:focus {
  outline: 0;
}

</style>
