.scroll-style {
    max-height: 400px;
    overflow-y: auto;
}


.avatar-message {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.talk-bubble{
  margin: 40px;
  position: relative;
  width: 200px;
  height: auto;
  background-color: #F4F4F4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.talk-bubble-right{
  margin-left: auto;
  background-color: #F4F4F4;
}

.talk-bubble-left{
  background-color: #F4F4F4;
}

.tri-right.right-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -10px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #F4F4F4 transparent transparent transparent;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.tri-right.left-top:before{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #F4F4F4 transparent transparent transparent;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.message-user {
  display: flex;
}
.message-user-details {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  padding-top: 4px;
  p {
    font-size: 0.7em;
    margin: 0;
  }
  i {
    font-size: 0.8em;
  }
}

.message-user-text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
  word-wrap: break-word;
  p {
    font-size: 0.8em;
    margin: 0;
  }
}

.message-user-time {
  display: flex;
  justify-content: flex-end;
  font-size: 0.7em;
  a {
    color: red;
    font-size: 0.7em;
    margin-left: 5px;
  }

}

.message-other-users {
  display: flex;
  position: relative;
}
.message-other-users-details {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  padding-top: 4px;
  p {
    font-size: 0.7em;
    margin: 0;
  }
  i {
    font-size: 0.8em;
  }
}

.message-other-users-text {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  p {
    font-size: 0.8em;
    margin: 0;
  }
}

.message-other-users-time {
  font-size: 0.7em;
  a {
    color: red;
    font-size: 0.7em;
  }
  text-align: right;
}


.grey-txt {
  color: grey;
}

.message-deleted {
  padding: 5px 15px;
  overflow: hidden;
  height: auto;
  p {
    text-align: right;
    font-size: 0.7em;
  }
  align-items: center;
}




