.scroll-style {
    max-height: 400px;
    overflow-y: auto;
}


.avatar-message {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.talk-bubble{
  margin: 15px 20px;
  position: relative;
  width: 250px;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.talk-bubble-right{
  // margin-top: 5px;
  // margin-bottom: 5px;
  margin-left: auto;
  color: white;
  background-color: #0199FF;
  transition: 0.3s;

  &:hover {
    background-color: #88cdfb;

    &::after {
      border-color: #88cdfb transparent transparent transparent !important;
    }

    .delete-button-link {
      visibility: visible;
      opacity: 1;
    }
  }
}

.talk-bubble-left{
  background-color: #F4F4F4;
}

.tri-right.right-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -10px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #0199FF transparent transparent transparent;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  transition: 0.3s;
}

.tri-right.left-top:before{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #F4F4F4 transparent transparent transparent;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.message-user {
  display: flex;
}
.message-user-details {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  padding-top: 4px;
  p {
    font-size: 0.7em;
    margin: 0;
  }
  i {
    font-size: 0.8em;
  }
}

.message-user-text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
  word-wrap: break-word;
  p {
    font-size: 0.8em;
    margin: 0;
  }
}

.message-user-time {
  display: flex;
  justify-content: flex-end;
  font-size: 0.7em;
  a {
    color: red;
    font-size: 0.7em;
  }

}

.message-other-users {
  display: flex;
  position: relative;
}
.message-other-users-details {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  padding-top: 4px;
  p {
    font-size: 0.7em;
    margin: 0;
  }
  i {
    font-size: 0.8em;
  }
}

.message-other-users-text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
  p {
    font-size: 0.8em;
    margin: 0;
  }
}

.message-other-users-time {
  display: flex;
  justify-content: flex-end;
  font-size: 0.7em;
  a {
    color: red;
    font-size: 0.7em;
  }
}

.grey-txt {
  color: grey;
}

.white-txt {
  color: white;
}

.message-deleted {
  // margin-top: 5px;
  // margin-bottom: 5px;
  margin-left: auto;
  padding: 8px;
  overflow: hidden;
  height: auto;
  color: white;
  background-color: #0199FF;
  p {
    font-size: 0.7em;
  }
}


#message_content {
  border-radius: 25px;
  width: 99%;
  margin-top: 10px;
}

.delete-button-link {
  position: absolute;
  top: 5px;
  right: 8px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

}

.far.fa-trash-alt {
  font-size: 12px;
  color: white;
}
