header {
  border-bottom: 1px solid #484848;
  p {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: -0.12em;
  }
}

.nav-items {
  display: flex;
}
.collapsing {
  transition: height 0.7s ease !important;
}

.nav {
  margin-top: 32px;
  margin-right: 96px;
  margin-left:96px;
  padding-bottom: 16px;
  justify-content: space-between;
  // p {
  //   letter-spacing: -0.16em;
  //   font-weight: 400;
  //   display: flex;
  //   align-items: center !important;
  // }
}

.sign-up {
  // align-items: center;

  // border: 3px solid #484848;
  // border-radius: 2px;
  // padding-top: 6px;
  // padding-bottom: 6px;
  // padding-right: 10px;
  // padding-left: 10px;
  color: #E2493C !important;
}

.underline {
  padding: 0 4px;
  margin: 0 8px;
  border-bottom: 2px solid white;
  transition: .2s;
  padding-bottom: 12px;
}

.underline:hover {
  border-bottom: 2px solid #484848;
  cursor: pointer;
}

// .sign-up:hover {
//   border: 2px solid red;
//   cursor: pointer;
// }


#home-override {
  border: none !important;
}

